@font-face {
    font-family: "gimpoBatang";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/gimpoBatang/gimpoBatang.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/gimpoBatang/gimpoBatang.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/gimpoBatang/gimpoBatang.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/gimpoBatang/gimpoBatang.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/gimpoBatang/gimpoBatang.ttf") format("truetype");
    font-display: swap;
}
.gimpoBatang {
    font-family: "gimpoBatang";
}